<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077202109028-50s9bahqbf1i7ckb5aifms3f8qu47m52.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077202109028-50s9bahqbf1i7ckb5aifms3f8qu47m52</string>
	<key>API_KEY</key>
	<string>AIzaSyBUaj7RuPVM62a7kBeywQwa9M3iPWdfXJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>1077202109028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectFlutter</string>
	<key>PROJECT_ID</key>
	<string>final-project-flutter-f618d</string>
	<key>STORAGE_BUCKET</key>
	<string>final-project-flutter-f618d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077202109028:ios:af3b18c7512391eb1c1571</string>
</dict>
</plist>